.app {
  padding: 30px;
}

.app > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin: auto 5px;
  cursor: pointer;
}

ul > li> input {
  cursor: pointer;
}
